@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
body{ 
	-ms-overflow-style: none; 
} 
/* ::-webkit-scrollbar { 
	display: none; 
} */
#title_area{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 30px;
	padding-top: 5px;
	padding-bottom: 25px;
	border-bottom: 4px solid #2e3238;
	/* border: 1px solid red; */
}
#title_area p{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
#title_area strong{
	color: blue;
}
#listTop_area{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	/* border: 1px solid blue; */
}
#searchBox{
	float: right;
}
#searchBox select{
	width: 122px;
	height: 40px;
	padding-left: 10px;
	font-size: 16px;
	box-sizing: border-box;
	border: 2px solid #e1e4e6;
}
#searchBox input[type="text"]{
	width: 227px;
	height: 40px;
	margin-left: 5px;
	font-size: 16px;
	box-sizing: border-box;
	border: 2px solid #e1e4e6;
}
#searchBox input[type="button"]{
	width: 91px;
	height: 40px;
	background: black;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	margin-left: 5px;
}
#totalCnt_area{
	font-size: 18px;
	margin-top: 5px;
	float: left;
}
#totalCnt{
	font-size: 22px;
	color: #1c8dff;
	vertical-align: -1px;
}
input:focus::-webkit-input-placeholder {
	color:transparent; 
}
#listDetail_area{
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
	box-sizing: border-box;
	/* border: 1px solid red; */
}
table{
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
}
th{
	height: 56px;
	background: #f3f4f5;
	font-size: 18px;
	color: #252525;
	padding: 15px 0;
	box-sizing: border-box;
}
td{
	height: 56px;
	text-align: center;
	font-size: 16px;
	color: #252525;
	padding: 15px 0;
	box-sizing: border-box;
	border-bottom: 2px solid #e8ebed;
}
td[class="list_ttl_area"]{
	text-align: left;
	height: 56px;
	font-size: 16px;
	color: #252525;
	padding: 15px 0;
	box-sizing: border-box;
	border-bottom: 2px solid #e8ebed;
}

/* View Page - modal Start */
#modal {
	display: none;
	position:relative;
	width:100%;
	height:100%;
	vertical-align: middle;
	margin-top: -470px;
	z-index:1;
}
#modal .modal_content {
  width:700px;
  border-radius: 20px;
  margin:100px auto;
  padding:20px 40px;
  background:#fff;
  border:2px solid #666;
}
#title{
 	font-size: 26px;
 	font-weight: bold;
 	text-align: center;
 	line-height: 1;
 	padding: 10px 30px 30px 30px;
 	padding-bottom: 30px;
 	border-bottom: 4px solid #2e3238;
 }
 #modalCloseBtn{
 	width: 24px;
 	height: 25px;
 	float: right;
 	position: relative;
 	right: -200px;
 	top: -105px;
 	background: url("../../img/list/pop_close.png") no-repeat;
 	/* border: 1px solid black; */
 }
 #modalCloseBtn:hover{
 	cursor: pointer;
 }
 #detailContents{
 	border-bottom: 4px solid #2e3238;
 }
 #txtContents{
 	/* width: 700px; */
 	padding: 20px 0;
 	font-size: 14px;
 	height: 380px;
 	overflow-y: scroll;
 	-ms-overflow-style: none;
 	box-sizing: border-box;
 }
#txtContents::-webkit-scrollbar{ 
	display:none; 
}
#prevNext{
	margin-top: 20px;
	box-sizing: border-box;
	/* border: 1px solid black; */
}
.list{
	padding: 10px 0;
	border-top: 2px solid #e8ebed;
}
.ttl{
	width: 20%;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	border-right: 2px solid #e8ebed;
	box-sizing: border-box;
}
.list > a{
 	width: 80%;
	padding-left: 20px;
	font-size: 14px;
} 
#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}
#btn_area{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 30px;
	/* border: 1px solid black; */
}
#btn_body{
	display: inline-block;
}
#goSave{
	width: 91px;
	height: 40px;
	background: black;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	margin-left: 5px;
}
/* View Page - modal END */

#writeBtn_area{
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
	/* border: 1px solid black; */
}
#writeBtn_area input{
	width: 100px;
	height: 50px;
	background: black;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	float: right;	
}
#pageNum_area{
	width: 100%;
	height: 30px;
	text-align: center;
	margin: 30px 0;
	float: left;
	box-sizing: border-box;
	/* border: 1px solid blue; */
}
#paging_body{
	display: inline-block;	
}
#pageNum_ul{
	list-style: none;
	/* border: 1px solid red; */
}
#pageNum_ul li{
	width: 21px;
	height: 20px;
	margin: 0 10px;
	display: inline-block;
	/* border: 1px solid black; */
}
.first{
	background: url("../../img/listPgNum/page_first.png") no-repeat;
}
.prev{
	background: url("../../img/listPgNum/page_prev.png") no-repeat;
}
.next{
	background: url("../../img/listPgNum/page_next.png") no-repeat;
}
.last{
	background: url("../../img/listPgNum/page_last.png") no-repeat;
}
.pageNum{
	position: relative;
	top: -3px;
}
#footer_area{
	margin-top: 200px;
}