@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
#footer{
	width: 100%;
	height: 170px;
	background-color: #f7f7f7;
	/* border: 1px solid black; */
}
#footer_txt{
	width: 1200px;
	margin: 0 auto;
	padding-top: 40px;
	box-sizing: border-box;
	font-size: 14px;
	color: #525459;
	/* border: 1px solid black; */
}
#huationInfo_area{
	list-style: none;
	line-height: 30px;
}
#footer_img{
	width: 180px;
	float: right;
	position: relative;
	top: -80px;
	/* border: 1px solid red; */
}
#footer_img a:hover{
	border-bottom: none;
}
#footer{
	position: relative;
	bottom: 0px;
}