@charset "UTF-8";
#header{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	/* border: 1px solid black; */
}
#CI_area{
	width: 180px;
	height: 80px;
	margin-top: 5px;
	float: left;
	/* border: 1px solid blue; */
}
.board_icon{
	width: 150px;
	height: 80px;
	font-size: 20px;
	font-weight: bold;
	float: right;
	padding-top: 22px;
	padding-left: 10px;
	margin-left: 15px;
	box-sizing: border-box;
	/* border: 1px solid red; */
}
.board_icon img{
	width: 30px;
}
